@model IEnumerable<ProjetoAppLivraria.Models.Autor>

@{
    ViewData["Title"] = "Lista Autor";
}

<h1>Listar Autor</h1>
<p>
    <a asp-action="cadautor">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idautor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nameautor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idautor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nameautor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Editar", "editarAutor", new {  id=item.idautor  }) |
                @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) | *@
                @Html.ActionLink("Deletar", "Delete", new {  id=item.idautor  },
                new {onclick = "return confirm('Deseja realmente Excluir este Item?');"})
            </td>
        </tr>
}
    </tbody>
</table>
