@model IEnumerable<ProjetoAppLivraria.Models.Livro>

@{
    ViewData["Title"] = "Lista Livro";
}

<h1>Lista Livro</h1>

<p>
    <a asp-controller="livro" asp-action="cadlivro">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idlivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.namelivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.refautor.nameautor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.refautor.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idlivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.namelivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.refautor.nameautor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.refautor.status)
            </td>
            <td>
                    @Html.ActionLink("Edit", "editarLivro", new { id = item.idlivro }) |
                @* @Html.ActionLink("Details", "Details", new {  id=item.codLivro  }) | *@
                    @Html.ActionLink("Delete", "Delete", new { id = item.idlivro },
                new {onclick = "return confirm('Deseja realmente Excluir este Item?');"})
            </td>
        </tr>
}
    </tbody>
</table>
