@model IEnumerable<ProjetoAppLivraria.Models.Livro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="livro" asp-action="cadlivro">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeLivro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.refAutor.nomeAutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.refAutor.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeLivro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.refAutor.nomeAutor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.refAutor.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "editarLivro", new {  id=item.codLivro }) |
                @* @Html.ActionLink("Details", "Details", new {  id=item.codLivro  }) | *@
                @Html.ActionLink("Delete", "Delete", new {  id=item.codLivro  },
                new {onclick = "return confirm('Deseja realmente Excluir este Item?');"})
            </td>
        </tr>
}
    </tbody>
</table>
